@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    background-color: #111111;
    overflow: hidden;
}

.binary {
    position: absolute;
    top: 0;
    left: 300px;
    z-index: -1;
    font-family: "Source Sans Pro", sans-serif;
    animation-duration: 1s;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: white;
    text-shadow: 0 0 10px #91edff;
}